.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-top: 0;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.col {
  width: 100%;
}

.col-2 {
  width: 20%;
  flex: 0 0 auto;
}

.col-3 {
  width: 22%;
  flex: 0 0 auto;
  padding: 0;
}

.col-4 {
  width: 38%;
  flex: 0 0 auto;
}

.col-6 {
  width: 50%;
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #FFFFFF;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 5rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid #E9E9E9;
}
header .menu {
  width: 30px;
  height: 30px;
  background-image: url("assets/menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 70%;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
header nav ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  color: #1A2E35;
  position: relative;
  text-decoration: none;
  padding-bottom: 0.12rem;
}
header nav ul li a::before {
  content: "";
  width: 0%;
  height: 2.5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #E9E9E9;
  transition: width 0.3s ease-in-out;
}
header nav ul li a:hover::before {
  width: 100%;
}
header nav ul li a.active::before {
  width: 100%;
}
header nav button {
  color: #2E7189;
  width: 148px;
  cursor: pointer;
  height: 50px;
  background-color: #E9E9E9;
  text-align: center;
  border: none;
  border-radius: 30px;
  transition: box-shadow 0.3s;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.32rem;
}
header nav button:hover {
  box-shadow: 0 0 0.5rem 0 rgba(46, 113, 137, 0.5);
}

main .full-page {
  padding: 4.5rem 5.3rem;
  height: 520px;
  background-image: url("assets/bank_people.png");
  background-position: top right;
  background-size: auto;
  background-repeat: no-repeat;
}
main .full-page h1 {
  display: inline-block;
  max-width: 514px;
  color: #20373E;
  margin-bottom: 0.5rem;
  font-family: "Lora", serif;
  font-size: 4.375rem;
  font-weight: 500;
}
main .full-page p {
  max-width: 488px;
  color: #666666;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
main .full-page button {
  border: none;
  border-radius: 10px;
  background-color: #FF735C;
  color: #FFFFFF;
  width: 175px;
  height: 50px;
  text-align: center;
  transition: box-shadow 0.3s;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.32rem;
}
main .full-page button:hover {
  box-shadow: 0 0 1rem 0 rgba(32, 55, 62, 0.5);
}
main .numbers {
  padding: 2rem 5.3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .numbers .item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
main .numbers .item span.num {
  display: inline-block;
  color: #1A2E35;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}
main .numbers .item span.word {
  display: inline-block;
  color: #666666;
  background-image: linear-gradient(to right, rgb(56, 90, 100), rgb(14, 103, 156));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
main .cash-pump {
  padding-left: 5.3rem;
  height: 602px;
  background-image: url("assets/cash_pump.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
main .side-page {
  padding-right: 5.3rem;
  padding-top: 7rem;
}
main .side-page h2 {
  display: inline-block;
  max-width: 575px;
  line-height: 135%;
  margin-bottom: 0.5rem;
  color: #20373E;
  font-family: "Poppins", sans-serif;
  font-size: 3.6125rem;
  font-weight: 500;
}
main .side-page p {
  max-width: 577px;
  color: #464646;
  margin-bottom: 1rem;
  line-height: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.49rem;
}
main .side-page button {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: #FF735C;
  color: #FFFFFF;
  width: 198px;
  height: 56px;
  text-align: center;
  transition: box-shadow 0.3s;
  font-family: "Poppins", sans-serif;
  font-size: 1.49rem;
  font-weight: 600;
}
main .side-page button:hover {
  box-shadow: 0 0 1rem 0 rgba(32, 55, 62, 0.5);
}
main .full-page-two {
  padding: 2rem 5.3rem;
}
main .full-page-two h3 {
  color: #20373E;
  margin-bottom: 0.5rem;
  max-width: 699px;
  font-family: "Poppins", sans-serif;
  font-size: 5.168rem;
  font-weight: 600;
}
main .full-page-two p {
  max-width: 731px;
  color: #464646;
  font-family: "Poppins", sans-serif;
  font-size: 1.4375rem;
  font-weight: 300;
}
main .full-page-two .grid {
  padding-top: 5.3rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5rem;
}
main .full-page-two .grid .item {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 1rem;
}
main .full-page-two .grid .item .bg {
  width: 87px;
  height: 87px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
main .full-page-two .grid .item .ex {
  background-image: url("assets/Expertise.svg");
}
main .full-page-two .grid .item .con {
  background-image: url("assets/Conven.svg");
}
main .full-page-two .grid .item .glo {
  background-image: url("assets/Global.svg");
}
main .full-page-two .grid .item .sec {
  background-image: url("assets/Security.svg");
}
main .full-page-two .grid .item .details .sm-head {
  display: inline-block;
  color: #1A2E35;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
main .full-page-two .grid .item .details .quote {
  display: inline-block;
  color: #666666;
  max-width: 385px;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
main .carousel {
  margin: 5rem 0;
  padding: 0.5rem 6.3rem;
  position: relative;
  border: 3px solid transparent;
  border-top-color: #E9E9E9;
  border-bottom-color: #E9E9E9;
}
main .carousel .slide-btn {
  z-index: 5;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  border: none;
  background: transparent;
  cursor: pointer;
}
main .carousel .prev {
  left: 4.5rem;
}
main .carousel .next {
  right: 4rem;
}
main .carousel .image-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  place-items: center;
  font-size: 0;
  list-style: none;
  overflow-x: auto;
  scrollbar-width: none;
}
main .carousel .image-list::-webkit-scrollbar {
  display: none;
}
main .carousel .image-list img {
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
main .cust-bg {
  height: 632px;
  padding-left: 5.3rem;
  background-image: url("assets/Customer-Testimonials-01 1.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
main .review {
  padding-right: 5.3rem;
  height: 632px;
  padding-left: 5rem;
  padding-top: 10rem;
  background-image: url("assets/Union-bg.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: auto;
}
main .review .person {
  position: relative;
}
main .review .person .name {
  display: inline-block;
  color: #1A2E35;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
main .review .person .occupation {
  display: inline-block;
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}
main .review .person .quote {
  display: inline-block;
  max-width: 337px;
  color: #666666;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}
main .review .person .stars {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.35rem;
}
main .review .person .sm-btn {
  position: absolute;
  left: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem;
}
main .review .person .sm-btn button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #FF735C;
  padding: 5rem;
  padding-right: 2rem;
  height: 480px;
}
footer .brand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
footer .brand .footer-quote {
  display: inline-block;
  max-width: 328px;
  line-height: 1.625rem;
  color: #464646;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}
footer .brand .social {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}
footer .brand .social .item {
  cursor: pointer;
}
footer .others .foot-head {
  display: inline-block;
  margin-bottom: 1rem;
  color: #1A2E35;
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
}
footer .others .foot-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.2rem;
}
footer .others .foot-links li a {
  text-decoration: none;
  color: #464646;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

@media screen and (max-width: 1000px) {
  .mt-4 {
    margin-top: 1rem;
  }
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  header nav {
    width: initial;
  }
  header nav ul > li > a, header nav button {
    font-size: 1.25rem;
  }
  main .full-page {
    padding: 3.5rem 2.3rem;
    background-position: center;
    background-size: contain;
  }
  main .full-page h1 {
    font-size: 4rem;
  }
  main .full-page p {
    font-size: 1rem;
  }
  main .full-page button {
    font-size: 1rem;
    width: 155px;
  }
  main .numbers {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }
  main .numbers .item span.num {
    font-size: 2rem;
  }
  main .numbers .item span.word {
    font-size: 1rem;
  }
  main .cash-pump {
    background-size: contain;
    height: 560px;
    padding-left: 3.3rem;
  }
  main .side-page {
    padding-top: 6rem;
    padding-right: 2.3rem;
  }
  main .side-page h2 {
    font-size: 3.8rem;
    line-height: 125%;
  }
  main .side-page p {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  main .side-page button {
    font-size: 1rem;
    width: 155px;
  }
  main .full-page-two {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }
  main .full-page-two h3 {
    font-size: 3.8rem;
  }
  main .full-page-two p {
    font-size: 1rem;
  }
  main .full-page-two .grid {
    padding-top: 2.3rem;
  }
  main .full-page-two .grid .item {
    gap: 0.5rem;
  }
  main .full-page-two .grid .item .bg {
    background-size: 50px 77px;
  }
  main .full-page-two .grid .item .details .sm-head {
    font-size: 1.5rem;
  }
  main .full-page-two .grid .item .details .quote {
    font-size: 1rem;
  }
  main .carousel {
    padding-left: 4.3rem;
    padding-right: 4.3rem;
    margin: 3rem 0;
  }
  main .carousel .prev {
    left: 1.5rem;
  }
  main .carousel .next {
    right: 1.5rem;
  }
  main .cust-bg {
    padding-left: 2.3rem;
    height: 600px;
    background-size: contain;
  }
  main .review {
    padding-right: 2.3rem;
    height: 600px;
    background-size: contain;
  }
  main .review .person .name {
    font-size: 1.2rem;
  }
  main .review .person .occupation, main .review .person .quote {
    font-size: 1rem;
  }
  main .review .person .quote {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }
  main .review .person .sm-btn {
    left: 11.5rem;
  }
  footer {
    height: 450px;
    padding-left: 2rem;
    padding-right: 1.5rem;
  }
  footer .others .foot-links {
    gap: 0.5rem;
  }
  footer .others .foot-links li > a {
    font-size: 1rem;
  }
  footer .others .foot-head {
    font-size: 1.25rem;
  }
  footer .brand .footer-quote {
    font-size: 1rem;
  }
}
@media screen and (max-width: 992px) {
  header {
    padding-right: 1rem;
  }
  header .menu {
    display: block;
  }
  header .nav-links {
    display: none;
  }
  header .nav-links--mobile {
    display: flex;
    position: absolute;
    z-index: 40;
    right: 0;
    top: 84px;
    list-style: none;
    border-top: 4px solid #E9E9E9;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 2rem 2rem;
    min-height: 265px;
    width: 265px;
    margin: 0;
    background-color: rgba(32, 55, 62, 0.2);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    box-shadow: 0 0.5rem 1rem -0.2rem rgba(32, 55, 62, 0.5);
    gap: 1.5rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: fadein 0.3s forwards;
  }
  header .nav-links--mobile ul {
    flex-flow: column nowrap;
    align-items: center;
    gap: 2.5rem;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
    }
    100% {
      opacity: 1;
      width: 265px;
      height: 381px;
    }
  }
  header .nav-links--mobile--fadeout {
    animation: fadeout 300ms forwards;
  }
  @keyframes fadeout {
    0% {
      opacity: 1;
      width: 265px;
      height: 381px;
    }
    100% {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}
@media screen and (max-width: 800px) {
  .col-md-12 {
    width: 100%;
  }
  .order-md-2 {
    order: 2;
  }
  .order-md-1 {
    order: 1;
  }
  header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main .full-page, main .numbers, main .side-page, main .cash-pump, main .full-page-two {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  main .carousel {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  main .cash-pump {
    height: 300px;
  }
  main .cust-bg {
    display: none;
  }
  main .review {
    padding-left: 5rem;
    padding-right: 2rem;
    background: url("assets/Customer-Testimonials-01 1.png") no-repeat right center/35%, url("assets/Union-bg.svg") no-repeat 22px center/60%;
  }
  main .carousel .prev {
    left: 0;
  }
  main .carousel .next {
    right: 0;
  }
  footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 650px) {
  .col-sm-12 {
    width: 100%;
  }
  main .full-page {
    padding: 2rem 2rem;
    padding-bottom: 0;
  }
  main .full-page h1 {
    font-size: clamp(2.3rem, 0.4vw, 3.5rem);
  }
  main .full-page button {
    width: 135px;
  }
  main .numbers {
    padding: 0 1rem;
    overflow: hidden;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  main .numbers .item {
    gap: 0.5rem;
  }
  main .numbers .item span.num {
    font-size: 1.3rem;
  }
  main .numbers .item span.word {
    font-size: 0.8rem;
  }
  main .side-page {
    padding: 2rem 2rem;
  }
  main .side-page h2 {
    font-size: clamp(2rem, 0.2vw, 3rem);
  }
  main .side-page p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  main .side-page button {
    width: 135px;
  }
  main .full-page-two h3 {
    font-size: clamp(1.8rem, 0.2vw, 2.8rem);
  }
  main .full-page-two p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  main .full-page-two .grid {
    grid-template-columns: auto;
    gap: 3rem;
  }
  main .full-page-two .grid .item .details .sm-head {
    font-size: clamp(1rem, 0.2vw, 1.3rem);
  }
  main .full-page-two .grid .item .details .quote {
    font-size: 0.9rem;
  }
  main .review {
    padding-left: 5rem;
    padding-top: 6rem;
    background-image: url("assets/Union-bg.svg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  main .review .person .name {
    font-size: 1rem;
  }
  main .review .person .occupation, main .review .person .quote {
    font-size: 0.89rem;
  }
  main .review .person .quote {
    max-width: 320px;
  }
  main .review .person .stars {
    max-width: 320px;
  }
  main .review .person .stars .item svg {
    height: 22px;
    width: 24px;
  }
  main .review .person .sm-btn {
    position: initial;
    margin-top: 1.5rem;
    justify-content: center;
  }
  main .review .person .sm-btn button {
    width: 35px;
    height: 35px;
  }
  footer {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100%;
  }
  footer .brand {
    align-items: center;
  }
  footer .brand .footer-quote {
    text-align: center;
  }
  footer .others {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  footer .others .foot-head {
    margin-bottom: 0.5rem;
  }
  footer .others .foot-links {
    align-items: center;
  }
}/*# sourceMappingURL=styles.css.map */